sctl-minion/sctl-minion
sctl-minion/ssl/
sctl-minion/token-db

sctl-api/sctl-api
sctl-api/sctl-data/sctl-db

sctl/sctl
sctl/sctl-data/executables/linux/sctl-minion/sctl-minion
sctl/sctl-data/executables/linux/sctl-api/sctl-api

sctl/sctl-data/executables/darwin/sctl-minion/sctl-minion
sctl/sctl-data/executables/darwin/sctl-api/sctl-api

sctl/sctl-data/executables/token-db
sctl/sctl-data/executables/sctl-minion
sctl/sctl-data/executables/ssl/
sctl/sctl-data/executables/*.sh
