<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.minion.sctl</string>
		<key>ProgramArguments</key>
		<array>
			<string>$GOPATH/bin/sctl-data/executables/sctl-minion</string>
		</array>
		<key>KeepAlive</key>
		<dict>
			<key>SuccessfulExit</key>
			<false/>
		</dict>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardErrorPath</key>
		<string>$GOPATH/bin/sctl-data/executables/minion.stdErr</string>
		<key>StandardOutPath</key>
		<string>$GOPATH/bin/sctl-data/executables/minion.stdOut</string>
		<key>StartInterval</key>
		<integer>30</integer>
		<key>UserName</key>
		<string>$USER</string>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin</string>
		</dict>
	</dict>
</plist>
