<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.minion.sctl</string>
		<key>ProgramArguments</key>
		<array>
			<string>$GOPATH/bin/sctl-data/executables/sctl-minion</string>
		</array>
		<key>KeepAlive</key>
		<dict>
			<key>SuccessfulExit</key>
			<false/>
		</dict>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardErrorPath</key>
		<string>$GOPATH/bin/sctl-data/executables/minion.log</string>
		<key>StartInterval</key>
		<integer>30</integer>
	</dict>
</plist>
