[Unit]
Description=Service controller minion to execute commands against docker
Documentation=https://github.com/CzarSimon/service-controller
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/sbin/sctl-minion/sctl-minion
Restart=on-failure
RestartSec=30

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sctl-minion

[Install]
WantedBy=multi-user.target
