[Unit]
Description=Service controller minion to execute commands against docker
Documentation=https://github.com/CzarSimon/service-controller

[Service]
ExecStart=/usr/local/sbin/sctl-minion/sctl-minion
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=30
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sctl-minion

[Install]
WantedBy=multi-user.target
